<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94288403214-l03ffh9ojg0mo4f4bgmd64u1953osn13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94288403214-l03ffh9ojg0mo4f4bgmd64u1953osn13</string>
	<key>API_KEY</key>
	<string>AIzaSyAzdHPxHLckyRk5tLhM8-WU8g2NuEa-PEw</string>
	<key>GCM_SENDER_ID</key>
	<string>94288403214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Company.FYPJ2020</string>
	<key>PROJECT_ID</key>
	<string>fypj-shs</string>
	<key>STORAGE_BUCKET</key>
	<string>fypj-shs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94288403214:ios:3bb3b9c886da024d4a955f</string>
	<key>DATABASE_URL</key>
	<string>https://fypj-shs.firebaseio.com</string>
</dict>
</plist>